@page "/pendientemolinar"
@using eProduccion.Components.Dialogs.Produccion
@using eProduccion.Models
@using eProduccion.Utility
@using eProduccion.Data.Produccion
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject MolinadoService MolinadoService

<PageTitle>eProducci&oacute;n | Pendiente molinar</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="p-4">
            <div class="table-responsive">
                <MudTable Items="@listaPendienteMolinar" MultiSelection="true" Filter="FiltrarTabla" @bind-SelectedItems="filasSeleccionadas" Class="w-100" SelectOnRowClick="false">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Pendiente molinar</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="textoBusqueda" Placeholder="Buscar" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>OT</MudTh>
                        <MudTh>Origen</MudTh>
                        <MudTh>Fecha</MudTh>
                        <MudTh>Hora inicio</MudTh>
                        <MudTh>Hora fin</MudTh>
                        <MudTh>Turno</MudTh>
                        <MudTh>Operario</MudTh>
                        <MudTh Class="text-nowrap">Operario 2</MudTh>
                        <MudTh>Código</MudTh>
                        <MudTh>Artículo</MudTh>
                        <MudTh>Cant. producida</MudTh>
                        <MudTh Class="text-nowrap">Cant. a solicitar</MudTh>
                        <MudTh>Lote</MudTh>
                        <MudTh>Cant. disponible</MudTh>
                        <MudTh>Cant. solicitada</MudTh>
                        <MudTh>U/M</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="OT">@context.DocEntry</MudTd>
                        <MudTd DataLabel="Origen">@context.EstacionOrigen</MudTd>
                        <MudTd DataLabel="Fecha">@context.Fecha.ToString("dd/MM/yyyy")</MudTd>
                        <MudTd DataLabel="Hora inicio">@context.HoraInicio.ToString("HH:mm")</MudTd>
                        <MudTd DataLabel="Hora fin">@context.HoraFin.ToString("HH:mm")</MudTd>
                        <MudTd DataLabel="Turno">@context.Turno</MudTd>
                        <MudTd DataLabel="Operario">@context.Operario</MudTd>
                        <MudTd DataLabel="Operario 2">@context.Operario2</MudTd>
                        <MudTd DataLabel="Código" Class="text-nowrap">@context.CodArticulo</MudTd>
                        <MudTd DataLabel="Artículo" Class="text-nowrap">@context.Articulo</MudTd>
                        <MudTd DataLabel="Cant. producida">@context.CantProducida</MudTd>
                        <MudTd DataLabel="Cant. a solicitar">
                            <MudNumericField T="int" @bind-Value="@context.CantSolicitar" Min="0" Max="@context.CantDisponible" Immediate="true" Variant="Variant.Outlined" HideSpinButtons="true" Class="w-100" Margin="Margin.Dense" />
                        </MudTd>
                        <MudTd DataLabel="Lote" Style="min-width: 200px;">
                            <MudTextField T="string" @bind-Value="@context.Lote" Label="Lote" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Class="mud-width-full" Style="cursor: pointer;" @onclick='() => AbrirModalLotes(context)' />
                        </MudTd>
                        <MudTd DataLabel="Cant. disponible">@context.CantDisponible</MudTd>
                        <MudTd DataLabel="Cant. solicitada">@context.CantSolicitada</MudTd>
                        <MudTd DataLabel="U/M">@context.UMArticulo</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager RowsPerPageString="Filas por página:" InfoFormat="{first_item}-{last_item} de {all_items}" AllItemsText="Todos" />
                    </PagerContent>
                </MudTable>
            </div>
            <MudText>@filasSeleccionadas?.Count filas seleccionadas</MudText>
            <div class="d-flex justify-end mt-4">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="IniciarOT" Disabled="@(!filasSeleccionadas.Any())">Procesar</MudButton>
            </div>
        </div>
    </div>
</div>

@code {
    private PendienteMolinar[]? listaPendienteMolinar;
    private HashSet<PendienteMolinar> filasSeleccionadas = new HashSet<PendienteMolinar>();
    private string textoBusqueda = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            listaPendienteMolinar = await MolinadoService.ObtenerOTPendienteMolinar();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
        }
    }

    private async Task AbrirModalLotes(PendienteMolinar pendienteMolinar)
    {
        var parameters = new DialogParameters
        {
            { "CodArticulo", pendienteMolinar.CodArticulo },
        };

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            MaxWidth = MaxWidth.False,
            BackdropClick = false,
        };

        var dialog = await DialogService.ShowAsync<LoteDialog>("", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled && result.Data is Lote loteSeleccionado)
            pendienteMolinar.Lote = loteSeleccionado.NroLote;
    }

    private async Task IniciarOT()
    {
        try
        {
            await MolinadoService.GenerarOT(filasSeleccionadas.ToList());

            listaPendienteMolinar = await MolinadoService.ObtenerOTPendienteMolinar();

            StateHasChanged();

            Snackbar.Add($"OT enviadas a la estación de Molinado correctamente", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
        }
    }

    private bool FiltrarTabla(PendienteMolinar item) => AplicarFiltroTabla(item, textoBusqueda);

    private bool AplicarFiltroTabla(PendienteMolinar item, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        return true;
    }
}
