@page "/pendientemolinar"
@using eProduccion.Components.Dialogs
@using eProduccion.Models
@using eProduccion.Utility
@using eProduccion.Data.Produccion
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject MolinadoService MolinadoService

<PageTitle>eProducci&oacute;n | Pendiente molinar</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="p-4">
            <div class="table-responsive">
                <MudTable Items="@listaPendienteMolinar" MultiSelection="true" Filter="FiltrarTabla" @bind-SelectedItems="filasSeleccionadas" Class="w-100" SelectOnRowClick="false">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Pendiente molinar</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="textoBusqueda" Placeholder="Buscar" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>OT</MudTh>
                        <MudTh>Origen</MudTh>
                        <MudTh>Fecha</MudTh>
                        <MudTh>Hora inicio</MudTh>
                        <MudTh>Hora fin</MudTh>
                        <MudTh>Turno</MudTh>
                        <MudTh>Operario</MudTh>
                        <MudTh Class="text-nowrap">Operario 2</MudTh>
                        <MudTh>Código</MudTh>
                        <MudTh>Artículo</MudTh>
                        <MudTh>Cant. producida</MudTh>
                        <MudTh Class="text-nowrap">Cant. a solicitar</MudTh>
                        <MudTh>Lote</MudTh>
                        <MudTh>Cant. disponible</MudTh>
                        <MudTh>Cant. solicitada</MudTh>
                        <MudTh>U/M</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="OT">@context.DocEntry</MudTd>
                        <MudTd DataLabel="Origen">@context.EstacionOrigen</MudTd>
                        <MudTd DataLabel="Fecha" Style="min-width: 200px;">
                            <MudDatePicker T="DateTime?" @bind-Date="@context.Fecha" DateFormat="dd/MM/yyyy" Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100" />
                        </MudTd>
                        <MudTd DataLabel="Hora inicio">@context.HoraInicio.ToString("HH:mm")</MudTd>
                        <MudTd DataLabel="Hora fin">@context.HoraFin.ToString("HH:mm")</MudTd>
                        <MudTd DataLabel="Turno" Style="min-width: 150px;">
                            <MudSelect T="string" @bind-Value="@context.Turno" Variant="Variant.Outlined" Margin="Margin.Dense" Class="w-100">
                                <MudSelectItem Value="@("TM")">TM - Mañana</MudSelectItem>
                                <MudSelectItem Value="@("TT")">TT - Tarde</MudSelectItem>
                                <MudSelectItem Value="@("TN")">TN - Noche</MudSelectItem>
                            </MudSelect>
                        </MudTd>
                        <MudTd DataLabel="Operario" Style="min-width: 220px;">
                            <MudAutocomplete T="Usuario"
                                             SearchFunc="BuscarOperarios"
                                             ToStringFunc='operario => operario != null ? $"{operario.CodigoUsuario} {operario.NombreUsuario}" : string.Empty'
                                             @bind-Value="@context.UsuarioOperario"
                                             CoerceText="true"
                                             Clearable="true"
                                             ResetValueOnEmptyText="true"
                                             Dense="true" />
                        </MudTd>
                        <MudTd DataLabel="Operario 2" Style="min-width: 220px;">
                            <MudAutocomplete T="Usuario"
                                             SearchFunc="BuscarOperarios"
                                             ToStringFunc='operario => operario != null ? $"{operario.CodigoUsuario} {operario.NombreUsuario}" : string.Empty'
                                             @bind-Value="@context.UsuarioOperario2"
                                             CoerceText="true"
                                             Clearable="true"
                                             ResetValueOnEmptyText="true"
                                             Dense="true" />
                        </MudTd>
                        <MudTd DataLabel="Código" Class="text-nowrap">@context.CodArticulo</MudTd>
                        <MudTd DataLabel="Artículo" Class="text-nowrap">@context.Articulo</MudTd>
                        <MudTd DataLabel="Cant. producida">@context.CantProducida</MudTd>
                        <MudTd DataLabel="Cant. a solicitar">
                            <MudNumericField T="int" @bind-Value="@context.CantSolicitar" Min="0" Immediate="true" Variant="Variant.Outlined" HideSpinButtons="true" Class="w-100" Margin="Margin.Dense" />
                        </MudTd>
                        <MudTd DataLabel="Lote" Style="min-width: 200px;">
                            <MudTextField T="string" @bind-Value="@context.Lote" Label="Lote" ReadOnly="true" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" Class="mud-width-full" Style="cursor: pointer;" />
                        </MudTd>
                        <MudTd DataLabel="Cant. disponible">@context.CantDisponible</MudTd>
                        <MudTd DataLabel="Cant. solicitada">@context.CantSolicitada</MudTd>
                        <MudTd DataLabel="U/M">U/M</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager RowsPerPageString="Filas por página:" InfoFormat="{first_item}-{last_item} de {all_items}" AllItemsText="Todos" />
                    </PagerContent>
                </MudTable>
            </div>
            <MudText>@filasSeleccionadas?.Count filas seleccionadas</MudText>
            <div class="d-flex justify-end mt-4">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Disabled="@(!filasSeleccionadas.Any())">Procesar</MudButton>
            </div>
        </div>
    </div>
</div>

@code {
    private PendienteMolinar[]? listaPendienteMolinar;
    private HashSet<PendienteMolinar> filasSeleccionadas = new HashSet<PendienteMolinar>();
    private string textoBusqueda = "";
    private List<Usuario> operarios;
    private Usuario operarioSeleccionado;
    private Usuario operario2Seleccionado;

    private Task<IEnumerable<Usuario>> BuscarOperarios(string value, CancellationToken token)
    {
        if (string.IsNullOrWhiteSpace(value))
            return Task.FromResult(operarios.AsEnumerable());

        var resultado = operarios
            .Where(a =>
                (!string.IsNullOrEmpty(a.CodigoUsuario) && a.CodigoUsuario.Contains(value, StringComparison.OrdinalIgnoreCase)) ||
                (!string.IsNullOrEmpty(a.NombreUsuario) && a.NombreUsuario.Contains(value, StringComparison.OrdinalIgnoreCase)))
            .OrderBy(a => a.CodigoUsuario)
            .Take(20);

        return Task.FromResult(resultado);
    }

    private bool FiltrarTabla(PendienteMolinar item) => AplicarFiltroTabla(item, textoBusqueda);

    private bool AplicarFiltroTabla(PendienteMolinar item, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        return true;
    }
}
