@page "/planificacionot"
@using eProduccion.Components.Dialogs
@using eProduccion.Models
@using eProduccion.Utility
@using eProduccion.Data.Produccion
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject PlanificacionOTService PlanificacionOTService

<PageTitle>eProducci&oacute;n | Planificaci&oacute;n OT</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="p-4">
            <div class="table-responsive">
                <MudTable Items="@listaOV" MultiSelection="true" Filter="FiltrarTabla" @bind-SelectedItems="filasSeleccionadas" Class="w-100" SelectOnRowClick="false">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Planificación OT</MudText>
                        <MudSpacer />
                        <MudTextField @bind-Value="textoBusqueda" Placeholder="Buscar" Immediate="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Fecha OV</MudTh>
                        <MudTh>Serie</MudTh>
                        <MudTh>DocNum OV</MudTh>
                        <MudTh>Código</MudTh>
                        <MudTh>Artículo</MudTh>
                        <MudTh>Cantidad OV</MudTh>
                        <MudTh Class="text-nowrap">Cant. a solicitar</MudTh>
                        <MudTh>Cant. disponible</MudTh>
                        <MudTh>Cant. solicitada</MudTh>
                        <MudTh>Estado</MudTh>
                        <MudTh>Fecha OT</MudTh>
                        <MudTh>Cant. producida</MudTh>
                        <MudTh>Acciones</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Fecha OV">@context.FechaOV.ToString("dd/MM/yyyy")</MudTd>
                        <MudTd DataLabel="Serie">@context.Serie</MudTd>
                        <MudTd DataLabel="DocNum OV">@context.DocNumOV</MudTd>
                        <MudTd DataLabel="Código" Class="text-nowrap">@context.CodArticulo</MudTd>
                        <MudTd DataLabel="Artículo" Class="text-nowrap">@context.Articulo</MudTd>
                        <MudTd DataLabel="Cantidad OV">@context.CantidadOV</MudTd>
                        <MudTd DataLabel="Cant. a solicitar">
                            <MudNumericField T="double" @bind-Value="@context.CantSolicitar" Min="0" Immediate="true" Variant="Variant.Outlined" HideSpinButtons="true" Class="w-100" Margin="Margin.Dense" />
                        </MudTd>
                        <MudTd DataLabel="Cant. disponible">@context.CantDisponible</MudTd>
                        <MudTd DataLabel="Cant. solicitada">@context.CantSolicitada</MudTd>
                        <MudTd DataLabel="Estado">
                            <MudChip T="string" Color="@PageHelper.DefinirColorEstado(context.EstadoOT)" Variant="Variant.Filled" Label="true">
                                @context.EstadoOT
                            </MudChip>
                        </MudTd>
                        <MudTd DataLabel="Fecha OT">@(context.FechaOT?.ToString("dd/MM/yyyy") ?? "")</MudTd>
                        <MudTd DataLabel="Cant. producida">@context.CantProducida</MudTd>
                        <MudTd DataLabel="Acciones" Class="text-nowrap" Style="min-width: 160px;">
                            <div style="display: flex; gap: 0.5rem; align-items: center; white-space: nowrap;">
                                <MudTooltip Text="Cancelar">
                                    <MudIconButton Icon="@Icons.Material.Filled.Cancel" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" @onclick='() => AbrirModalCancelarOT(context)' />
                                </MudTooltip>
                                <MudTooltip Text="Finalizar">
                                    <MudIconButton Icon="@Icons.Material.Filled.Check" Variant="Variant.Filled" Color="Color.Success" Size="Size.Small" @onclick='() => AbrirModalFinalizarOT(context)' />
                                </MudTooltip>
                            </div>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager RowsPerPageString="Filas por página:" InfoFormat="{first_item}-{last_item} de {all_items}" AllItemsText="Todos" />
                    </PagerContent>
                </MudTable>
            </div>
            <MudText>@filasSeleccionadas?.Count filas seleccionadas</MudText>
            <div class="d-flex justify-end mt-4">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="IniciarOT" Disabled="@(!filasSeleccionadas.Any())">Iniciar</MudButton>
            </div>
        </div>
    </div>
</div>

@code {
    private PlanificacionOT[]? listaOV;
    private HashSet<PlanificacionOT> filasSeleccionadas = new HashSet<PlanificacionOT>();
    private string textoBusqueda = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await PlanificacionOTService.EjecutarSP_INSERT_PLANIFICACION_OT();

            listaOV = await PlanificacionOTService.ObtenerOV();
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
        }
    }

    private async Task IniciarOT()
    {
        try
        {
            await PlanificacionOTService.GenerarOT(filasSeleccionadas.ToList());

            listaOV = await PlanificacionOTService.ObtenerOV();

            StateHasChanged();

            Snackbar.Add($"Órdenes de trabajo creadas correctamente", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
        }
    }

    private async Task AbrirModalCancelarOT(PlanificacionOT ovSeleccionada)
    {
        var parameters = new DialogParameters
        {
            { "MensajeCancelar", $"¿Está seguro de querer cancelar esta Orden?" },
            { "TextoBoton", "Cancelar OT" }
        };

        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<CancelarDialog>("Cancelar OT", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            try
            {

            }
            catch (Exception ex)
            {
                Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
            }
        }
    }

    private async Task AbrirModalFinalizarOT(PlanificacionOT ovSeleccionada)
    {
        var parameters = new DialogParameters
        {
            { "MensajeFinalizar", $"¿Está seguro de querer dar por finalizado este pedido?" },
            { "TextoBoton", "Finalizar OT" }
        };

        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<FinalizarDialog>("Finalizar OT", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            try
            {

            }
            catch (Exception ex)
            {
                Snackbar.Add($"Ha ocurrido un error: {ex.Message}", Severity.Error);
            }
        }
    }

    private bool FiltrarTabla(PlanificacionOT item) => AplicarFiltroTabla(item, textoBusqueda);

    private bool AplicarFiltroTabla(PlanificacionOT item, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        return
            item.FechaOV.ToString("dd/MM/yyyy").Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
            (!string.IsNullOrEmpty(item.Serie) && item.Serie.Contains(searchString, StringComparison.OrdinalIgnoreCase)) ||
            item.DocNumOV.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
            (!string.IsNullOrEmpty(item.CodArticulo) && item.CodArticulo.Contains(searchString, StringComparison.OrdinalIgnoreCase)) ||
            (!string.IsNullOrEmpty(item.Articulo) && item.Articulo.Contains(searchString, StringComparison.OrdinalIgnoreCase)) ||
            (!string.IsNullOrEmpty(item.EstadoOT) && item.EstadoOT.Contains(searchString, StringComparison.OrdinalIgnoreCase)) ||
            (item.FechaOT?.ToString("dd/MM/yyyy") ?? "").Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }
}
